body {
  width: 1600px;
  height: 6532px;
  font-weight: 300;
  max-width: 100vw;
  margin: 0;
}

.header {
  padding: 20px 0px 20px 0px;
  width: 100%;
  height: 92px;
  background: #ffffff;
  display: flex;
  justify-content: center;
}

.header-title {
  padding-top: 18px;
  font-size: 15px;
  line-height: 28px;
  font-weight: bold;
  margin-right: 220px;
}

.header-list {
  padding-top: 22px;
}

.list-element {
  display: inline;
  padding-left: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: black;
  padding: 0px 22px 32px 22px;
}

.search-button {
  background: #f2f2f2;
  border-radius: 50px;
  border: transparent;
  height: 32px;
  background-image: url("../img/Search.svg");
  background-repeat: no-repeat;
  background-position: 0.7vw 2.4vh;
  padding: 14px 15px 14px 40px;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #969696;
  margin-top: 10px;
  margin-left: 120px;
}

.search-bag {
  background: #f2f2f2;
  border-radius: 50px;
  width: 52px;
  height: 52px;
  vertical-align: -0.3vh;
  margin-left: 20px;
}

.first-section {
  padding: 0 0px 0 80px;
  width: 1440px;
}

.first-section_left {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  margin-top: 60px;
  margin-bottom: 150px;

}

.first-section_title {
  font-weight: bold;
  font-size: 104px;
  line-height: 134px;
  background: -webkit-linear-gradient(
    270.06deg,
    #dadada 20.97%,
    #9f9f9f 99.92%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.first-section_paragraph {
  font-size: 20px;
  line-height: 28px;
  color: #1f1f1f;
  margin-top: 20px;
}

.first-section_cart {
  border: 2px solid #1f1f1f;
  box-sizing: border-box;
  background: white;
  border-radius: 12px;
  padding: 20px 30px 20px 32px;
  margin: 80px 0px;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
}

.cart-add_sign {
  vertical-align: -0.4vh;
  padding-left: 20px;
}

.first-section_right {
  display: inline-block;
  width: 40%;
  margin-top: 60px;
}

.first-section_rightbg {
  position: absolute;
  left: 900px;
}

.first-section_rightshoe {
  position: absolute;
  left: 830px;
  top: 210px;
}

.first-section_image {
  margin: 0px -220px;
}

.first-aside {
  text-align: center;
  background-color: #f3f3f3;
  margin: 50px 70px 120px 80px;
  padding: 40px 0px 40px 40px;
}

.first-aside_title {
  font-weight: bold;
  font-size: 40px;
}

.aside-ellipses {
  display: flex;
  justify-content: center;
  margin: 64px;
}

.ellipse {
  width: 32px;
  height: 32px;
  padding-right: 20px;
}

.first-aside_paragraph {
  padding-top: 45px;
  padding-bottom: 64px;
  font-weight: bold;
  font-size: 30px;
}

.aside-cart {
  border: 2px solid #1f1f1f;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 20px 30px 20px 32px;
  margin: 80px 0px;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  background: #f3f3f3;
}

.second-section_title {
  position: relative;
  left: 80px;
  top: 140px;
}
.second-section_paragraph {
  color: #1F1F1F;
  font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
  position: relative;
  margin-left: 80px;
  top: 190px;
}

.second-section_img {
  position: relative;
  width: 704px;
  height: 600px;
  top: -80px;
  left: 830px;
  margin-bottom: -130px;
}

.third-section_title {
  position: relative;
  top: 300px;
  left: 940px;
}
.third-section_paragraph {
  color: #1F1F1F;
  font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
  position: relative;
  left: 940px;
  top: 350px;
}

.third-section_img {
  position: relative;
  width: 704px;
  height: 600px;
  top: 0px;
  left: 80px;
}

.forth-section_title {
  position: relative;
  left: 80px;
  top: 200px;
}
.forth-section_paragraph {
  color: #1F1F1F;
  font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
  position: relative;
  margin-left: 80px;
  top: 220px;
}

.forth-section_img {
  position: relative;
  width: 704px;
  height: 600px;
  top: 0px;
  left: 830px;
  margin-bottom: 70px;
}

.second-aside {
  background-image: url("../img/tenispreto.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 720px;
  object-fit: cover;
  margin: 150px 0px 50px 0px;
}

.second-aside_title {
  font-weight: bold;
  font-size: 104px;
  line-height: 104px;
  letter-spacing: -0.02em;
  color: #ffffff;
  padding-left: 24px;
  padding-top: 20px;
}

.arrow {
  vertical-align: 20px;
  padding-left: 8px;
  width: 44px;
  height: 45px;
}

.third-section {
  margin: 150px 0px 50px 80px;
  display: flex;
  width: 1440px;
}

.third-section_image {
  width: 827px;
  height: 838px;
  border-radius: 8px 0px 0px 8px;
}

.third-section_form {
  width: 613px;
  height: 838px;
  background: #f3f3f3;
  border-radius: 0px 8px 8px 0px;
}

.form-title {
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  margin: 40px 48px 40px 80px;
}

.form-name {
  height: 76px;
  width: 489px;
  background: #ffffff;
  border-radius: 12px;
  margin: 0px 48px 24px 48px;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #969696;
  padding-left: 28px;
  padding-right: 28px;
}

.form-email {
  height: 76px;
  width: 489px;
  background: #ffffff;
  border-radius: 12px;
  margin: 0px 48px 24px 48px;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #969696;
  padding-left: 28px;
  padding-right: 28px;
}

.form-comment {
  display: block;
  height: 260px;
  width: 489px;
  background: #ffffff;
  border-radius: 12px;
  margin: 0px 48px 56px 48px;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #969696;
  padding-left: 28px;
  padding-top: 24px;
  padding-right: 28px;

}

.form-checkbox_text {
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #969696;
}

.form-checkbox {
  vertical-align: -5px;
  margin: 0px 16px 34px 48px;
  width: 28px;
  height: 28px;
  background: #ffffff;
  border: 2px solid #d2d2d2;
  box-sizing: border-box;
  border-radius: 4px;
}

.form-button {
  margin: 0px 48px 48px 48px;
  height: 84px;
  width: 517px;
  border: 2px solid #1f1f1f;
  box-sizing: border-box;
  border-radius: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  background: #f3f3f3;
  font-family: 'Gilroy';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 28px;
text-align: center;
color: #1F1F1F;
}

.footer {
  background: #f3f3f3;
  margin-top: 150px;
  width: 100%;
}

.footer-div {
  display: flex;
  justify-content: space-between;
}

.footer-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  color: #1f1f1f;
  padding: 56px 200px 222px 100px;
}

.footer-list1 {
  padding-right: 230px;
  padding-bottom: 80px;
}

.footer-list1 a {
  font-size: 20px;
  line-height: 40px;
  color: #1f1f1f;
}

.footer-list2 {
  padding-right: 230px;
}

.footer-list2 a {
  font-size: 20px;
  line-height: 40px;
  color: #1f1f1f;
}

.footer-list3 {
  padding-right: 80px;
}

.footer-list3 li {
  display: inline-block;
  padding-right: 26px;
}

.list-titles {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  padding-top: 56px;
  padding-bottom: 18px;
}

