body {
  font-weight: 300;
  max-width: 100vw;
  margin: 0;
}

.header {
  padding: 20px;
}

.headertitle {
  display: inline-block;
  width: 20%;
  padding-top: 15px;
  margin-left: 80px;
}

.first-list {
  display: inline-block;
  width: 50%;
}

.list-element {
  display: inline;
  position: relative;
  padding-left: 20px;
  font-weight: 400;
  color: black;
}

.search {
  display: inline-block;
  width: 20%;
}

.search.button {
  font-family: "Lato", sans-serif;
  background: #f2f2f2;
  border-radius: 50px;
  border: transparent;
  height: 32px;
}

.bag {
  background: #f2f2f2;
  border-radius: 80px;
  border: transparent;
}
