body {
  background-color: #fafafa;
  width: 1492.22px;
  height: 681.979px;
}

.container-right {
  width: 30vw;
  height: 40vh;
}

.inputfield {
  font-size: 12px;
  padding: 14px 0 2px 8px;
  border: 1px solid #dddfe2;
  border-radius: 4px;
  color: #1d2129;
}
.signinbutton {
  background-color: #0095f6;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: inherit;
  text-align: center;
  color: white;
  padding: 3px 100px;
}
